* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #aab1b6d8, #000000c0),
    url(cocktail-pattern.jpg);
}

.App {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: auto;
  height: 100vh;
}

.navbar {
  height: 70px;
  padding: 0px 36px;
  box-shadow: 0px 2.98px 7.45px rgba(0, 0, 0, 0.5);
  text-align: center;
  background: linear-gradient(
    to bottom right,
    rgba(71, 23, 9, 0.72),
    rgba(241, 7, 7, 0.83)
  );
  border-radius: 15px;
  font-size: medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-header {
  color: white;
}

.search-input {
  height: 48px;
  width: 336px;
  align-self: center;
  background: transparent;
  border: none;
  font-size: large;
}

.btn--search {
  height: 38px;
  width: 38px;
}
.btn--enter-icon {
  filter: brightness(0) invert(1);
}
.btn--random {
  height: 38px;
  width: 38px;
}
.navbar--buttons {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.card-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 20px;
}
.cocktail-card {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  margin-bottom: 10px;
  height: 250px;
  min-height: 250px;
  border-radius: 15px;
  background-color: rgba(26, 22, 22, 0.829);
  box-shadow: 0px 2.98px 7.45px rgba(0, 0, 0, 0.5);
  color: white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cocktail-card-animation {
  height: 400px;
}

.cocktail-image {
  width: 200px;
  height: 220px;
  margin: 15px;
  border-radius: 15px;
}

.cocktail-info-side {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  padding: 5px 15px 5px 15px;
  align-self: stretch;
  overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}

.cocktail-info-side > h3 {
  margin: 0;
}

.cocktail-category {
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(204, 203, 199, 0.425);
  border-radius: 15px;
  transition: background 2s;
}
.cocktail-category:hover {
  background: linear-gradient(
    to bottom right,
    rgba(71, 23, 9, 0.72),
    rgba(241, 7, 7, 0.83)
  );
  cursor: pointer;
}

.cocktail-name {
  padding-top: 4px;
}

.cocktail-description {
  margin: 1px;
  font-size: 90%;
  text-align: left;
}

.cocktail--details {
  display: flex;
  margin-top: auto;
  justify-content: center;
}

.cocktail--fuel {
  margin: 10px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
}
.cocktail--glass {
  margin: 10px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
}

.cocktail-ingredients-side {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  font-size: 14px;
  margin: 15px 5px;
  line-height: 22px;
}
.cocktail-ingredients-side > ul {
  list-style: none;
  width: 200px;
  padding: 3px;
  margin: 0;
}

.cocktail-ingredients > li {
  transition: 1s;
}

.cocktail-ingredients > li:hover {
  font-size: 15px;
  font-weight: bold;
  color: rgba(241, 7, 7, 0.83);
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 30px;
}

.pagination > ul > li > button {
  color: white !important;
  background-color: rgba(26, 22, 22, 0.829) !important;
}
