* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  margin: 0;
  max-height: 100vh;
  background-image: linear-gradient(to bottom right, #aab1b6d8, #000000c0),
    url(../img/cocktail-pattern.jpg);
}

.sign--app {
  width: 100vw;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  width: min(700px, 100%);
  margin: auto;
  max-height: 100vh;
}

.navbar {
  height: clamp(30px, 10vw, 70px);
  padding: 0px min(36px, 3vw);
  box-shadow: 0px 2.98px 7.45px rgba(0, 0, 0, 0.5);
  text-align: center;
  background: linear-gradient(
    to bottom right,
    rgba(71, 23, 9, 0.72),
    /* rgba(241, 7, 7, 0.83) */ rgba(204, 203, 199, 0.425)
  );
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-header {
  color: white;
  font-size: clamp(0.4rem, 3vw, 1.7rem);
}
.navbar--buttons {
  display: flex;
  justify-content: space-between;
  max-width: 224px;
}

.btn--navbar {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset;
  height: min(56px, 10vw);
  width: min(56px, 10vw);
  border-radius: 10px;
  padding: 10px;
  margin-right: min(8px, 1vw);
}
.navbar--dropdown {
  position: relative;
}
.navbar--dropdown--btn {
  padding: 0;
}
.navbar--dropdown:hover .navbar--dropdown-content {
  display: flex;
  flex-direction: column;
}
.navbar--dropdown-content {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: min(56px, 10vw);
  left: calc(-150px + min(56px, 10vw));
  background-color: #f1f1f1;
  width: 150px;
  box-shadow: 0px 8px 16px 8px rgba(95, 158, 160, 0.466);
  background-color: rgba(26, 22, 22, 0.925);
  list-style: none;
  border-radius: 0.5rem;
  z-index: 1;
}
.navbar--dropdown-content > li {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  padding: 4px;
  padding-left: 10px;
  height: 3rem;
  cursor: pointer;
  width: 100%;
}
.navbar--dropdown-content > li:hover {
  background-color: rgba(95, 158, 160, 0.322);
  transition: 0.5s ease-in;
}

.btn--navbar:hover {
  cursor: pointer;
}
/* .btn--random {
  height: 38px;
  width: 38px;
}
.btn--search {
  height: 38px;
  width: 38px;
} */

.btn--enter-icon {
  filter: brightness(0) invert(1);
}

.search-input {
  height: min(60px, 9vw);
  width: 60%;
  margin: 15px 0px;
  align-self: center;
  background: transparent;
  border: none;
  font-size: large;
  color: white;
}
.search-input::placeholder {
  color: white;
}

.card-container {
  display: flex;
  flex-direction: column;
  /* height: 780px; */
  margin: 0;
  margin-top: 10px;
}
.cocktail-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* flex-direction: row; */
  align-items: flex-start;
  margin: 0;
  margin-bottom: 10px;
  height: 27vh;
  border-radius: 15px;
  background-color: rgba(26, 22, 22, 0.829);
  box-shadow: 0px 2.98px 7.45px rgba(0, 0, 0, 0.5);
  color: white;
  transition: all 0.5s ease;
  overflow: hidden;
  position: relative;
}

.cocktail-card-animation {
  height: 64vh;
  transition: all 0.5s ease;
}
.cocktail-card-animation-hidden {
  height: 8.5vh;
  transition: all 0.5s ease;
}
.cocktail-card-content {
  display: flex;
  flex-direction: row;
}
.cocktail-image {
  width: min(22vh, 38vw);
  height: min(25vh, 40vw);
  margin: 1vh;
  border-radius: 15px;
}
.cocktail--favorited {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 7px;
  cursor: pointer;
  background-color: rgba(204, 203, 199, 0.425);
  border-top-left-radius: 15px;
}
.cocktail--favorited:hover {
  transition: background 2s ease-in;
  background: linear-gradient(
    to bottom right,
    rgba(71, 23, 9, 0.72),
    rgba(241, 7, 7, 0.83)
  );
}

.cocktail-info-side {
  /* flex-grow: 2; */
  height: 27vh;
  display: flex;
  font-size: clamp(0.5rem, 3vw, 1.2rem);
  flex-direction: column;
  padding: 5px 15px 5px 15px;
  align-self: stretch;
  overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
  width: 0px;
}

.cocktail-info-side > h3 {
  margin: 0;
}

.cocktail-category {
  padding: 5px;
  font-size: 1em;
  font-weight: 500;
  background-color: rgba(204, 203, 199, 0.425);
  border-radius: 15px;
  transition: background 2s;
}
.cocktail-category:hover {
  transition: background 2s ease-in;
  background: linear-gradient(
    to bottom right,
    rgba(71, 23, 9, 0.72),
    rgba(241, 7, 7, 0.83)
  );
  cursor: pointer;
}

.cocktail-name {
  padding-top: 4px;
}

.cocktail-description {
  margin: 1px;
  font-size: 0.9em;
  text-align: left;
}

.cocktail--details {
  display: flex;
  margin-top: auto;
  justify-content: center;
}

.cocktail--fuel {
  margin: 10px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.7em;
  align-items: center;
}
.cocktail--glass {
  margin: 10px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.7em;
  align-items: center;
}

.cocktail-ingredients-side {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  font-size: 0.8em;
  margin: 15px 5px;
  line-height: 1.5em;
}
.cocktail-ingredients-side > ul {
  list-style: none;
  width: 200px;
  padding: 3px;
  margin: 0;
}

.cocktail-ingredients > li {
  transition: 1s;
}

.cocktail-ingredients > li:hover {
  font-size: 0.9em;
  font-weight: bold;
  color: rgba(241, 7, 7, 0.83);
  cursor: pointer;
}

.pagination--container {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 100%;
}

.pagination > ul > li > button {
  color: white !important;
  background-color: rgba(26, 22, 22, 0.829) !important;
  max-width: 10vw !important;
  max-height: 10vw !important;
}

.pagination > ul > li {
  min-width: none !important;
  max-width: 10vw !important;
}

.modal--box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal--box > h2 {
  padding-left: 20px;
}

.modal--box-content {
  display: flex;
  flex-direction: column;
}
.advanced--search-checkboxes {
  padding: 5px;
}

.modal--box-button-container {
  display: flex;
  justify-content: flex-end;
}

.btn--advanced-search-results {
  height: 40px;
  width: 90px;
  margin-top: 15px !important;
}

.no--data--conteiner {
  position: absolute;
  z-index: 1;
  background-color: #f1f1f1ec;
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(700px, 100%);
  height: clamp(30px, 10vw, 70px);
  top: clamp(50px, 10vw, 70px);
  margin-top: 10px;
  border-radius: 15px;
}

.comment--container {
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
}

.comment--head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.comment--image {
  height: 36px;
  width: 36px;
  background-color: #f1f1f1d1;
  padding: 3px;
  border-radius: 50%;
}

.comment--username {
  padding-left: 10px;
  margin: 0;
}

.comment--createdate {
  padding-left: 15px;
  margin: 0;
  color: rgba(255, 255, 255, 0.4);
}

.comment--comment {
  font-size: 0.9em;
  text-align: left;
  padding-left: 42px;
  margin: 3px;
}

.cocktail--card--comments {
  padding-top: 10px;
  overflow-y: scroll;
}

.cocktail--card--comment-input {
  padding: 15px 25px;
  /* height: clamp(40px, 12vw, 90px); */
  width: min(700px, 100%);
  display: flex;
}

.cocktail--card--comment-input > input {
  font-size: 1.1em;
  background: transparent;
  color: white;
  border: none;
  width: 85%;
  height: 45px;
}

.cocktail--card--comment-input > input::placeholder {
  color: rgba(255, 255, 255, 0.719);
}

.comment--button {
  margin-left: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: rgba(99, 189, 192, 0.5);
  color: white;
  font-weight: 400;
  font-size: 1.1em;
  padding: 7px 15px;
  cursor: pointer;
}

.comment--button--active {
  background-color: rgba(99, 189, 192, 0.9);
}

*:focus {
  outline: none;
}
